# Calculations

Goal

- Explore Pandas methods like <blockquote>.pct_change</blockquote>
- Plotting with Pandas
- Refactoring to functions

In [1]:
import yfinance as yf

def fix_cols(df):
    columns = df.columns
    outer = [col[0] for col in columns]
    df.columns = outer
    return df

def tweak_data():
    raw = yf.download('SPY AAPL', start='2010-01-01', end= '2023-06-30')

    return(raw
           .iloc[:, ::2]
           .pipe(fix_cols)
    )

aapl = tweak_data()

[*********************100%***********************]  2 of 2 completed

In [2]:
aapl

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2010-01-04,6.496294,7.643214,7.660714,7.585000,7.622500,493729600
2010-01-05,6.507526,7.656429,7.699643,7.616071,7.664286,601904800
2010-01-06,6.404015,7.534643,7.686786,7.526786,7.656429,552160000
2010-01-07,6.392176,7.520714,7.571429,7.466071,7.562500,477131200
2010-01-08,6.434674,7.570714,7.571429,7.466429,7.510714,447610800
...,...,...,...,...,...,...
2023-06-23,186.679993,186.679993,187.559998,185.009995,185.550003,53079300
2023-06-26,185.270004,185.270004,188.050003,185.229996,186.830002,48088700
2023-06-27,188.059998,188.059998,188.389999,185.669998,185.889999,50730800
2023-06-28,189.250000,189.250000,189.899994,187.600006,187.929993,51216800
2023-06-29,189.589996,189.589996,190.070007,188.940002,189.080002,46347300

### Returns

In [3]:
aapl.pct_change()

            Adj Close     Close      High       Low      Open    Volume
Date
2010-01-04        NaN       NaN       NaN       NaN       NaN       NaN
2010-01-05   0.001729  0.001729  0.005082  0.004096  0.005482  0.219098
2010-01-06  -0.015906 -0.015906 -0.001670 -0.011723 -0.001025 -0.082646
2010-01-07  -0.001849 -0.001849 -0.015007 -0.008066 -0.012268 -0.135882
2010-01-08   0.006648  0.006648  0.000000  0.000048 -0.006848 -0.061871
...               ...       ...       ...       ...       ...       ...
2023-06-23  -0.001711 -0.001711  0.002727  0.007296  0.009851  0.035789
2023-06-26  -0.007553 -0.007553  0.002613  0.001189  0.006898 -0.094022
2023-06-27   0.015059  0.015059  0.001808  0.002375 -0.005031  0.054942
2023-06-28   0.006328  0.006328  0.008015  0.010395  0.010974  0.009580
2023-06-29   0.001797  0.001797  0.000895  0.007143  0.006119 -0.095076

[3395 rows x 6 columns]

In [4]:
aapl.pct_change?

Signature:
aapl.pct_change(
    periods: 'int' = 1,
    fill_method: "Literal['backfill', 'bfill', 'pad', 'ffill'] | None" = 'pad',
    limit=None,
    freq=None,
    **kwargs,
) -> 'NDFrameT'
Docstring:
Percentage change between the current and a prior element.

Computes the percentage change from the immediately previous row by
default. This is useful in comparing the percentage of change in a time
series of elements.

Parameters
----------
periods : int, default 1
    Periods to shift for forming percent change.
fill_method : {'backfill', 'bfill', 'pad', 'ffill', None}, default 'pad'
    How to handle NAs **before** computing percent changes.
limit : int, default None
    The number of consecutive NAs to fill before stopping.
freq : DateOffset, timedelta, or str, optional
    Increment to use from time series API (e.g. 'M' or BDay()).
**kwargs
    Additional keyword arguments are passed into
    `DataFrame.shift` or `Series.shift`.

Returns
-------
Series or DataFrame
    The same type as the calling object.

See Also
--------
Series.diff : Compute the difference of two elements in a Series.
DataFrame.diff : Compute the difference of two elements in a DataFrame.
Series.shift : Shift the index by some number of periods.
DataFrame.shift : Shift the index by some number of periods.

Examples
--------
**Series**

>>> s = pd.Series([90, 91, 85])
>>> s
0    90
1    91
2    85
dtype: int64

>>> s.pct_change()
0         NaN
1    0.011111
2   -0.065934
dtype: float64

>>> s.pct_change(periods=2)
0         NaN
1         NaN
2   -0.055556
dtype: float64

See the percentage change in a Series where filling NAs with last
valid observation forward to next valid.

>>> s = pd.Series([90, 91, None, 85])
>>> s
0    90.0
1    91.0
2     NaN
3    85.0
dtype: float64

>>> s.pct_change(fill_method='ffill')
0         NaN
1    0.011111
2    0.000000
3   -0.065934
dtype: float64

**DataFrame**

Percentage change in French franc, Deutsche Mark, and Italian lira from
1980-01-01 to 1980-03-01.

>>> df = pd.DataFrame({
...     'FR': [4.0405, 4.0963, 4.3149],
...     'GR': [1.7246, 1.7482, 1.8519],
...     'IT': [804.74, 810.01, 860.13]},
...     index=['1980-01-01', '1980-02-01', '1980-03-01'])
>>> df
                FR      GR      IT
1980-01-01  4.0405  1.7246  804.74
1980-02-01  4.0963  1.7482  810.01
1980-03-01  4.3149  1.8519  860.13

>>> df.pct_change()
                  FR        GR        IT
1980-01-01       NaN       NaN       NaN
1980-02-01  0.013810  0.013684  0.006549
1980-03-01  0.053365  0.059318  0.061876

Percentage of change in GOOG and APPL stock volume. Shows computing
the percentage change between columns.

>>> df = pd.DataFrame({
...     '2016': [1769950, 30586265],
...     '2015': [1500923, 40912316],
...     '2014': [1371819, 41403351]},
...     index=['GOOG', 'APPL'])
>>> df
          2016      2015      2014
GOOG   1769950   1500923   1371819
APPL  30586265  40912316  41403351

>>> df.pct_change(axis='columns', periods=-1)
          2016      2015  2014
GOOG  0.179241  0.094112   NaN
APPL -0.252395 -0.011860   NaN
File:      ~/codes/Quantitative-Finance/env/lib/python3.11/site-packages/pandas/core/generic.py
Type:      method